.nav-menu-area {
    position: relative;
    background-color: #333;
    color: #ccc;
    padding-left: 0;
    width: 200px;
    min-height: 100vh;
    padding-top: 30px;
}

    .nav-menu-area .btn:hover {
        color: #ccc;
    }

.nav-menu {
    list-style-type: none;
    vertical-align: top;
}

    .nav-menu ul {
        display: inline;
        list-style-type: none;
        padding-left: 0;
    }

    .nav-menu li {
        line-height: 3em;
        cursor: pointer;
    }

.nav-selectable-item:hover {
    background-color: #555;
}

.nav-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
